
.appWrapper {
  width: 300px;
  height: 100px;
  background-color: rgba(22, 22, 22, 0.76);
  border-radius: 15px;
  position: relative;
  margin: 50px auto;
}

.appWrapper img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: 60px;
  left: -60px;
  border: 2px solid black;
}

p {
  color: white;
  margin-left: 10px;
}

.name{
  padding-top: 10px;
}

.time {
  position: absolute;
  bottom: 0;
  right: 10px;
}
