.error{
    color: red;
}

.errorText{
    text-align: center;
    font-size: 18px;
}

.textInput {
    position: relative;
}
.superInput{
    display: inline-block;
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border-radius: 15px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
}

.rightInput{
    border: 2px solid #44ff44;
}

.errorInput{
    border: 2px solid red;
}

input[type="text"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 15px 0 0 15px;
    padding: 0 10px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;

}

input[type="text"]:focus + label{
    transform: translateY(-120%) translateX(0%);
    border-radius: 15px 0 0 15px;
    transition: all 0.1s ease-out;
}

input[type="text"]:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
}
