.someClass {
  text-align: center;
  margin: 50px auto;
}




.someClass button {
  background-color: #9090ff;

  width: 50px;
  font-size: 15px;
  margin-right: 5px;
  text-transform: capitalize;
}


.input{
  padding: 5px;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 15px;
}


.input.error{
  border: 1px solid red;
  outline: none;
}